@media screen and (max-width: 640px) {
  body {
    background-color: #fff; } }

@font-face {
  font-family: "Space Age";
  src: url("../fonts/Space Age/SpaceAge.otf"); }

body {
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

.ModalX-logo {
  font-family: "Space Age";
  font-size: 64px;
  background: -webkit-linear-gradient(left, #083561, #0e6bc2 100px);
  background: -o-linear-gradient(left, #083561, #0e6bc2 100px);
  background: linear-gradient(to right, #083561, #0e6bc2 100px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav-menu-item {
      margin: 0 10px;
      color: #363636;
      font-size: 25px; }
  .nav .links .git {
    color: #000; }
  .nav .links .telegram {
    color: #12a4da; }
  .nav .btn.download {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    border: 1px solid #0f6dc4; }
