@media screen and (max-width: 640px) {
  body {
    background-color: #fff; } }

@font-face {
  font-family: "Space Age";
  src: url("../fonts/Space Age/SpaceAge.otf"); }

html {
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

.btn {
  display: inline-block;
  padding: 15px 45px;
  border: 2px solid #0f6dc4;
  border-radius: 30px;
  font-size: 21px;
  color: #000;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }
  .btn:hover {
    background-color: #0f6dc4;
    color: #fff; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0;
  padding: 15px 0;
  background-color: #fff; }
  .nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav-menu-item {
      margin: 0 21px;
      font-size: 21px;
      color: #363636;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .nav-menu-item:hover {
        color: #0f6dc4; }
  .nav .ModalX-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 25px;
    margin-top: 6px; }
  .nav .links .git {
    margin: 0 10px;
    color: #000; }
  .nav .links .telegram {
    margin-right: 30px;
    color: #12a4da; }
  .nav .links .git, .nav .links .telegram {
    font-size: 23px; }

header.header {
  position: relative;
  width: 100vw;
  height: calc(100vh - 84px);
  margin-top: 84px;
  background-image: url(../img/cosmos.jpg);
  background-size: cover;
  background-position: center; }
