@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none; }

.ModalX {
  position: fixed;
  overflow: hidden;
  font-family: "Montserrat";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }
  .ModalX.center-x {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .ModalX.center-y {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .ModalX.center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .ModalX.success {
    width: 26vw;
    zoom: 1.028; }
    .ModalX.success .wrapper {
      width: 100%;
      background: #4e76e5;
      padding: 15px 0;
      cursor: pointer;
      -webkit-transition: background .3s, -webkit-transform .5s;
      transition: background .3s, -webkit-transform .5s;
      -o-transition: background .3s, transform .5s;
      transition: background .3s, transform .5s;
      transition: background .3s, transform .5s, -webkit-transform .5s;
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg); }
      .ModalX.success .wrapper .message {
        color: #fff;
        padding-left: 20px; }
      .ModalX.success .wrapper:hover {
        background: #4b6ecc; }
      .ModalX.success .wrapper:active {
        background: #3b59ad; }
  .ModalX.active .wrapper {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
