.ModalX {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
  width: 480px;
  height: 130px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-family: sans;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }
  .ModalX .title {
    font-size: 18px;
    color: #363636; }
  .ModalX * {
    margin: 0;
    padding: 0;
    font-size: 12px; }
  .ModalX .text {
    display: block;
    color: #555555;
    margin: 20px 9px 0 9px;
    white-space: nowrap; }
  .ModalX .button {
    display: inline-block;
    position: relative;
    float: right;
    margin: 13px 30px 0 0;
    padding: 7px 30px;
    background: #0f6dc4;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
    .ModalX .button:hover {
      background: #1c81df; }
