@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none; }

.ModalX.modalx-success {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #1ebf5b;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding: 15px 0 15px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-success:hover {
    background: #21a252; }
  .ModalX.modalx-success:active {
    background: #1f8c48; }

.ModalX.modalx-error {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #e03a3a;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding: 15px 0 15px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-error:hover {
    background: #c73434; }
  .ModalX.modalx-error:active {
    background: #8f2c2c; }

.ModalX.modalx-primary {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #fff;
  color: #38f;
  font-family: Montserrat, sans-serif;
  padding: 15px 0 15px 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-primary:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1); }
  .ModalX.modalx-primary:active {
    -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1); }

.ModalX.modalx-btn-success {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #1ebf5b;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-btn-success .modalx-text {
    display: block; }
  .ModalX.modalx-btn-success .modalx-btn {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background: #fff;
    color: #1ebf5b;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .ModalX.modalx-btn-success .modalx-btn:hover {
      -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }

.ModalX.modalx-btn-error {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #e03a3a;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-btn-error .modalx-text {
    display: block; }
  .ModalX.modalx-btn-error .modalx-btn {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background: #fff;
    color: #e03a3a;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .ModalX.modalx-btn-error .modalx-btn:hover {
      -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }

.ModalX.modalx-btn-primary {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 450px;
  background: #38f;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .ModalX.modalx-btn-primary .modalx-text {
    display: block; }
  .ModalX.modalx-btn-primary .modalx-btn {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background: #fff;
    color: #38f;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .ModalX.modalx-btn-primary .modalx-btn:hover {
      -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }

.ModalX.center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.ModalX.center-x-top {
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.ModalX.center-x-bottom {
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%); }

.ModalX.center-y-left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.ModalX.center-y-right {
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%); }

.ModalX.left {
  left: 0;
  top: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.ModalX.right {
  left: 100%;
  top: 0;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%); }

.ModalX.left-bottom {
  left: 0;
  top: 100%;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%); }

.ModalX.right-bottom {
  left: 100%;
  top: 100%;
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%); }
