@import 'vars'
@import 'fonts'
@import 'media'
@import 'start'
.header
    position: relative
    width: 100vw
    height: calc(100vh - 80px)
    margin-top: 80px
    .btn.started
        margin-top: 60px
        background-color: $main-color
        color: #fff
        font-family: Montserrat, sans-serif
        border: 0
        padding: 15px 40px
        &:hover
            color: $main-color
            background-color: #fff

.first_pic, .first_dark_pic
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

.first_pic
	background-image: url('../img/man.jpg')
	background-size: cover
	background-position: center
	z-index: 1

.first_dark_pic
    z-index: 2
    background-color: #012035
    opacity: 0.59

.first_block_main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 90%
    position: relative
    z-index: 3

.first_block_main
    h1.title
        font-size: 115px
        color: white
        font-weight: bold
        font-family: Montserrat, sans-serif

.first_block_main
	p.subtitle
        line-height: 1.65
        letter-spacing: 2px
        text-align: center
        color: white
        font-size: 21px
        margin-top: 50px
        font-family: Montserrat, sans-serif
        

