@import 'vars'
@import 'fonts'
@import '_media'

html
    overflow-x: hidden
    min-width: 320px
    font-size: 16px
    font-weight: 400
    font-family: Montserrat, sans-serif
a 
    text-decoration: none
.btn
    display: inline-block
    padding: 15px 45px
    border: 1px solid $main-color
    border-radius: 30px
    font-size: 19px
    font-weight: 400
    letter-spacing: 2px
    color: #000
    transition: .25s
    &:hover
        background-color: $main-color
        color: #fff
.nav
    display: flex
    position: fixed
    width: 100%
    align-items: center
    justify-content: center
    left: 0
    top: 0
    padding: 15px 0
    background-color: #fff
    z-index: 9999
    .wrapper
        display: flex
        width: 85%
        align-items: center 
        justify-content: space-between
    &-menu 
        display: flex
        align-items: center
        &-item 
            margin: 0 25px
            font-size: 19px
            color: $text-color
            transition: .2s
            &:hover
                color: $main-color
    .ModalX-logo
        display: inline-flex
        height: 25px
        margin-top: 6px
    .links
        .git
            margin: 0 10px
            color: #000
            &:hover
                color: #5f5f5f
        .telegram
            margin-right: 30px
            color: #12a4da
            &:hover
                color: #127eda
        .git, .telegram
            font-size: 22px
            transition: .25s

.header
    position: relative
    width: 100vw
    height: calc(100vh - 80px)
    margin-top: 80px
    .btn.started
        margin-top: 60px
        background-color: $main-color
        color: #fff
        font-family: Montserrat, sans-serif
        border: 0
        &:hover
            color: $main-color
            background-color: #fff

.first_pic, .first_dark_pic
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

.first_pic
	background-image: url('../img/man.jpg')
	background-size: cover
	background-position: center
	z-index: 1

.first_dark_pic
    z-index: 2
    background-color: #012035
    opacity: 0.59

.first_block_main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 90%
    position: relative
    z-index: 3

.first_block_main
    h1.title
        font-size: 115px
        color: white
        font-weight: bold
        font-family: Montserrat, sans-serif

.first_block_main
	p.subtitle
        line-height: 1.65
        letter-spacing: 2px
        text-align: center
        color: white
        font-size: 21px
        margin-top: 50px
        font-family: Montserrat, sans-serif
        

