@import '_vars'
@import '_media'
@import '_fonts'
html
    overflow-x: hidden
    min-width: 320px
    font-size: 16px
    font-weight: 400
    font-family: 'Montserrat', sans-serif
a 
    text-decoration: none
.btn
    display: inline-block
    padding: 15px 45px
    border: 2px solid $main-color
    border-radius: 30px
    font-size: 21px
    color: #000
    transition: .25s
    &:hover
        background-color: $main-color
        color: #fff
.nav
    display: flex
    position: fixed
    width: 100%
    align-items: center
    justify-content: center
    left: 0
    top: 0
    padding: 15px 0
    background-color: #fff
    .wrapper
        display: flex
        width: 85%
        align-items: center 
        justify-content: space-between
    &-menu 
        display: flex
        align-items: center
        &-item 
            margin: 0 21px
            font-size: 21px
            color: $text-color
            transition: .2s
            &:hover
                color: $main-color
    .ModalX-logo
        display: inline-flex
        height: 25px
        margin-top: 6px
    .links
        .git
            margin: 0 10px
            color: #000
        .telegram
            margin-right: 30px
            color: #12a4da
        .git, .telegram
            font-size: 23px

header.header
    position: relative
    width: 100vw
    height: calc(100vh - 84px)
    margin-top: 84px
    background-image: url(../img/cosmos.jpg)
    background-size: cover
    background-position: center

    
