@import '_vars'
@import '_media'
@import '_fonts'
html
    overflow-x: hidden
    min-width: 320px
    font-size: 16px
    font-weight: 400
    font-family: 'Montserrat', sans-serif
a 
    text-decoration: none
.btn
    display: inline-block
    padding: 15px 45px
    border: 2px solid $main-color
    border-radius: 30px
    font-size: 21px
    color: #000
    transition: .25s
    &:hover
        background-color: $main-color
        color: #fff
.ModalX-logo
    display: inline-flex
    height: 25px
.nav
    display: flex
    position: fixed
    align-items: center
    justify-content: space-between
    width: 85%
    left: 50%
    top: 0
    transform: translateX(-50%)
    padding: 15px 0
    &-menu 
        display: flex
        align-items: center
        &-item 
            margin: 0 21px
            font-size: 21px
            color: $text-color
            transition: .2s
            &:hover
                color: $main-color
    .links
        .git
            margin: 0 10px
            color: #000
        .telegram
            margin-right: 30px
            color: #12a4da
        .git, .telegram
            font-size: 23px


    
