<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="nav">
		<div class="wrapper">
			<a href="index.html"><img class="ModalX-logo" src="../img/MX.png" alt="Logo"></a>
			<ul class="nav-menu">
				<a href="#" class="nav-menu-item">
					<li>Home</li>
				</a>
				<a href="#" class="nav-menu-item">
					<li>Documentation</li>
				</a>
				<a href="#" class="nav-menu-item">
					<li>Examples</li>
				</a>
				<a href="#" class="nav-menu-item">
					<li>About us</li>
				</a>
			</ul>
			<div class="links">
				<a class="git" href="#"><i class="fab fa-github"></i></a>
				<a class="telegram" href="#"><i class="fab fa-telegram"></i></a>
				<a href="#" class="btn download">Download</a>
			</div>
		</div>
	</nav>
	<div class="header">
	<div class="first_pic"></div>
	<div class="first_dark_pic"></div>
	<div class="first_block_main">
		<h1>Modal X</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		<br> Nesciunt nobis voluptates corporis! </p>
			<a href="">
				<div class="button_main">
					Get Started
				</div>
			</a>
		</div>
	</div>
</body>
</html>